auto-install-peers=false
engine-strict=true
link-workspace-packages=deep
prefer-frozen-lockfile=true
prefer-workspace-packages=true
save-exact=true
shared-workspace-lockfile=true
strict-peer-dependencies=true
